---
# jobs for 'config' repo

- project:
    name: config
    project: '{name}'

    jobs:
      - 'config-jobs-common':
          branch-regexp: '^(.*)$'

      - 'config-jobs':
          branch-regexp: '^(master)$'

      - 'config-jobs-legacy':
          branch-regexp: '^(config-1.5)$'
          jdk-distribution: 'java-1.8.0-amazon-corretto'
          name-extension: '-jdk8'

- job-group:
    name: 'config-jobs-common'
    jobs:
      - 'verify-licensed'
      - 'tag-collision-reject'

- job-group:
    name: 'config-jobs'
    jobs:
      - 'maven-test'
      - 'maven-publish'

- job-group:
    name: 'config-jobs-legacy'
    jobs:
      - 'maven-test'
      - 'maven-publish'

